/* Week 4 deliverables */


img {
	width:100%;
	height:100%;
}

h1 {
	font-family: 'Margarine', cursive;
	color:#B19982;
	font-size:1.4em;
	text-align:center;
}

h2 {
	font-family: 'Margarine', cursive;
	color:#000000;
	font-size:1em;
}
h3{
	font-size:1.3em;
	font-family: 'Arimo', sans-serif;
	line-height:1.4em;

}

.footer-h3{
	line-height:0rem;
	font-size:1.05rem;
	padding:0px;
	padding-top:2%;
	margin-bottom:0px;
}
body {
	background-color:#d2edf3;
	padding:3%;

}


p {
	font-family: 'Arimo', sans-serif;
	font-size:0.8em;
}

/* css for links was taken from http://www.w3schools.com/css/css_link.asp*/

a:link {color:#89D4E6; text-decoration:none; font-weight:bold;}      /* unvisited link */
a:visited {color:#89D4E6;}  /* visited link */
a:hover {color:#EC6826;}  /* mouse over link */
a:active {color:#89D4E6;}  /* selected link */


.glow{

		box-shadow: 0px 0px 20px #97cfdc;
}
/*Grid stuff*/

.grid{
	width:100%;
	margin:0px;
	padding:0px;
	background-color:#f9f9f9;


}

[class*='col-'] {
  float: left;
}

.col-66{
  width: 66.66%;
}
.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}

.col-75 {
  width: 70%;
  padding-right:5%;
  padding-bottom:3%;
}
.col-12{
	width:12.5%;
}

.col-100{
	width:100%;
}
.col-40{
	width:40%;
}
.col-48{
	width:41%;
}
.col-60{
	width:60%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

form label {

	margin-top: 1rem;
	line-height:2rem;
	font-family: 'Arimo', sans-serif;
}

.right{
	text-align:right;
}
.button{
	background-color:#8bd4e6;
	border-radius:20px;
	font-size:1rem;
	border-style:none;
	font-family: 'Arimo', sans-serif;
	padding:8px;
	color:#ffffff;
	margin-top:3%;
}

.cart-thumb{

}
.button3{
	background-color:#ffffff;
	border-radius:20px;
	font-size:1rem;
	border-style:none;
	font-family: 'Arimo', sans-serif;
	padding:8px;
	color:#8bd4e6;
	margin-top:3%;
}
.button2{
	background-color:#8bd4e6;
	border-radius:14px;
	font-size:0.9rem;
	border-style:none;
	font-family: 'Arimo', sans-serif;
	padding:5px;
	color:#ffffff;
}

.button:hover{
	background-color:#ec6826;

}

.button2:hover{
	background-color:#ec6826;

}

.button3:hover{
background-color:#ec6826;
}
/*found this from http://stackoverflow.com/questions/20626310/css-background-color-doesnt-work-unless-a-height-is-specified-or-its-floated
*/


/*class styling (ie. navbar)*/
.add-to-cart{


background-color:#8bd4e6;
height:200px;
width:200px;
 top: 0px;
 right: 0px;
text-align:center;
opacity:0.8;
position:absolute;
	font-size:0.9rem;
	font-family: 'Arimo', sans-serif;
	line-height:1.4em;
}
.continue{
	width:100%;
	text-align:right;
}

.cart-info{
padding-left:10%;
letter-spacing:0.1rem;
padding:10%;
}

textarea{
width: 50%;
}

.review-title{
	margin:0px;
}
.review-names{
	text-align:left;
}
.star-rating{
	width:25px;
	height:25px;
}

.reviews{
	padding-left:3rem;
}
.detail-photo{
	width:90%;
	padding:20px;
}
.body-text{
	width:90%;
	padding-right:5%;
	font-family: 'Arimo', sans-serif;
	font-size:0.8rem;
	line-height:1.1rem;
	list-style:none;
	padding-bottom:5%;
}

.more-detail{

	margin-left:5%;
	font-family: 'Arimo', sans-serif;
	font-size:0.8rem;
	line-height:1.4rem;
	padding-bottom:5%;
}

.footer{
	background-color:#896D56;
	padding:1%;
	font-family: 'Arimo', sans-serif;
	line-height:1.5rem;
	overflow:hidden;
	color:#ffffff;
}


.footer-col{
	padding-left:5%;
	font-size:0.8rem;

}
.email-signup{
	padding:0.5rem;
	width:40%;

}

.icon-wrapper{
	padding-top:10px;
	padding-right:30px;
}

.misc-img{
max-width:250px;
}
.thumb {
	border:1px solid #8BD4E6;
		max-width:247px;
		/*product images have light blue borders*/
}

.thumb:hover{
	border-color:#EC6826;
}
.icon{    									/*styling for interactive icons*/
	border-radius: 50px;
	height:4.3rem;
	width:4.3rem;
	background-color:#8BD4E6;
	background-repeat:no-repeat;
	background-size:65%;
	background-position:center;
	display:inline-block;
	margin:1em;
}

.active{
	background-color:#EC6826;
}

.cart{
	background-image:url('../img/icon_cart.png');
}

.create{    								
	background-image:url('../img/icon_create.png');
}

.about{    								
	background-image:url('../img/icon_account.png');
}

.product{    								
	background-image:url('../img/icon_product.png');
}

.icon:hover {
	background-color:#EC6826;
} 

.kitty-logo{
	text-align:center;
	padding-top:1%;
	padding-bottom:1%;
}
.knitkittylogo{
	width:70%;
	max-width:190px;
}
.social-media{
	width:30px;
}

.cart-text{
text-align:center;
}
.promo-banner{
background-image:url('../img/banner.jpg');
background-repeat:no-repeat;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
	margin:2%;
	padding:2.5%;
	background-color:#F1EBE1;
	background-size:100% auto;
	text-align:center;
	font-family: 'Margarine', cursive;
	color:#000000;
}

.bubble{
	background-color:#ffffff;
		border-radius:20px;
		padding:1rem;
		opacity:0.9;
		width:80%;
		margin-left:auto;
		margin-right:auto;

}
.promo-banner2{
background-image:url('../img/money_bg.png');
background-repeat:repeat;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
	margin:2%;
	padding:2.5%;
		background-color:#F1EBE1;
	text-align:center;
	font-family: 'Margarine', cursive;
	color:#000000;
	padding-bottom:2.5%;
	height:170px;
}


.banner-text{
	color:#000000;
	font-size:2rem;
}
.banner-text-white{
	color:#ffffff;
	font-size:2rem;
}

.banner-subtext{
	font-size:1.7rem;
}
.event-box{
	border-width: 3px;
	border-style: solid;
	border-color: white;
	margin: 5%;
	padding: 5%;
	background-color: #F1EBE1;
	background-size: auto;
	text-align: center;
	font-family: 'Margarine', cursive;
	color:yellow;
	font-size: 3em;

}


.navigation-wrapper{

	text-align:right;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	background-color:#ffffff;
}


.nav-text{
	font-family: 'Margarine', cursive;
	color:#8BD4E6;
	font-size:1.3em;
	text-align:center;
	margin-top:3.5em;

}
.content{
	padding:1%;
	background-color:#f9f9f9;
}



.product-list ul{
	list-style:none; 
	text-align:center;
	text-align:center;
}
.product-list li{
	display:inline-block;
	width:20%;
	padding:2%;
	text-align:center;
}

.sidebar-links{
	font-size:1.3em;
	font-family: 'Arimo', sans-serif;
	list-style:none;
	line-height:1.4em;
}



/*
Responsive Stuff*/


@media screen and (min-width: 1200px) { 

	.grid{
	width:1100px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}

.footer{
	width:1100px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}

}



@media screen and (max-width: 768px) { 
	.bubble{
		font-size:1rem;
		padding:0.4rem;
	}
	.icon{    								
		height:3.5rem;
		width:3.5rem;
		margin:0.45em;

	}
	.nav-text{
		font-size:1.1em;
	}
	.icon-wrapper{
		padding-right:30px;
	}
	.product-list li{
		display:inline-block;
		width:25%;
		padding:2%;
		text-align:center;
	}
	body {
		padding:0%;
	}
	.promo-banner {
		font-size:1.6em;
		background-size:auto 100%;
		background-position:center;
	}

	.promo-banner2 {
		font-size:1.6em;
		background-size:auto 100%;
		background-position:center;
	}
	.sidebar-links{
		margin-left:-10px;
		font-size:1.3em;
		font-family: 'Arimo', sans-serif;
		list-style:none;
		line-height:1.4em;
	}
	.knitkittylogo{
		width:65%;
	}
	
	.banner-subtext2{
	font-size:0.8rem;
}
	.banner-text-white{
	font-size:1.6rem;
	}
	.bubble a{
	font-size:1rem;
	}
	.banner-text{
	font-size:1.7rem;
	}
 }





@media screen and (max-width: 480px) { 
	.detail-photo{
	width:100%;
	padding:0px;
	}
	.bubble{
		font-size:1.1rem;
		padding:1rem;
		width:50%;
	}
	
	.sidebar-links li{
	width:100%;
	text-align:center;
	}

	.icon{    							
		height:3.6rem;
		width:3.6rem;
		margin:3%;
	}
	.nav-text{

	}
	.icon-wrapper{
		padding-left:0%;
		padding-right:0%;
		text-align:center;
		padding-top:0px;
		margin-top:-20px;

	}
	.product-list li{
		display:inline-block;
		width:80%;
		padding:2%;
		text-align:center;
	}
		.promo-banner {
		font-size:1.3em;
	}
		.promo-banner2 {
		font-size:1.3em;
	}

	.sidebar-links{
		margin-left:-10px;
		font-size:1.5em;
		font-family: 'Arimo', sans-serif;
		line-height:1.4em;

	}

	.sidebar-col{
		width:100%;
	}

	.stretch {
		width:95%;
		padding:3%;
	}

	.stretch-banner{
		width:91%;

	}
	.kitty-logo{
		width:100%;
		text-align:center;
	}
	.footer-col{
		padding-left:7%;
	}
	.footer-col{
	padding-left:10%;
	font-size:1rem;

}

	.right{
		text-align:left;

	}
	
	textarea{
	width:90%;
	}
} 



